body { font-family: 'Ubuntu', sans-serif; }

.date { font-weight: bold; font-size: 100%; padding: 10px 0px 10px 0px !important; }
.changes { font-style: italic; }

.user-trusted { color: #999999; }
.user-login { color: #990000; }
.user-anon { color: #FF0000; }

.size-neg { color:#FF2050; white-space: nowrap; }
.size-pos { color:#00B000; white-space: nowrap; }
.size-null { color:#999; white-space: nowrap; }
.size-large { font-weight: bold; white-space: nowrap; }

.label { white-space: nowrap; }
.content ul, .content ol {
	margin: 0 0 0 1.5em; padding-left: 0em;
}
.nowrap {
    white-space: nowrap;
}

.combined { background:#fff; }
.combined-child { background:#f2f2f2; display:none;}
.new-entry { background:#f7dc6f !important; }
.new-art {  }
.redirect {  }
.revert { text-decoration: line-through; }
.stat { font-size:x-small; vertical-align:top; font-weight: bold; color: #ccc; }

.ns { width:18.1px; padding:0 !important; cursor:help; box-sizing:content-box;}
.ns-0 { background: #C0C0C0 !important; } /* Article */
.ns-2 { background: #2d89ef !important; } /* User */
.ns-4 { background: #9b59b6 !important; } /* Project */
.ns-6 { background: #ee1111 !important; } /* File */
.ns-8 { background: #ffee00 !important; } /* MediaWiki */
.ns-10 { background: #e7ac2f !important; } /* Template */
.ns-12 { background: #ff0097 !important; } /* Help */
.ns-14 { background: #00a300 !important; } /* Category */
.ns-100 { background: #2bfffd !important; } /* Portal */

.ns-1 { background: #696969 !important; } /* Article Talk */
.ns-3 { background: #2b5797 !important; } /* User Talk */
.ns-5 { background: #623475 !important; } /* Project Talk */
.ns-7 { background: #b91d47 !important; } /* File Talk */
.ns-9 { background: #c09100 !important; } /* MediaWiki Talk */
.ns-11 { background: #da532c !important; } /* Template Talk */
.ns-13 { background: #b3006a !important; } /* Help Talk */
.ns-15 { background: #1e7145 !important; } /* Category Talk */
.ns-101 { background: #00aba9 !important; } /* Portal Talk */

.inactive { color: #999; }
.inactive a { color: #999; }

.main { margin-top:4em; }
#def { text-align:center; }
.navbar-brand {min-width:6em; height:50px; font-weight: bold;}

#stat { font-style:italic; font-size:.8em; }
.navbar-nav>li>.dropdown-menu { min-width:250px; padding:1em; }
#stat-content { padding:0 1em; }
#time-wrapper { text-align:center; }
.loading {width:16px; height:16px;}
#main-table{
    border-collapse:collapse;
    empty-cells: show;
}