body { font-family: 'Ubuntu', sans-serif; }

.date { font-weight: bold; font-size: 100%; padding: 10px 0px 10px 0px !important; }
.changes { font-style: italic; }

.user-trusted { color: #999; }
.user-login { color: #900; }
.user-anon { color: #f00; }

.size-neg { color: white; background-color:#ff2050; white-space: nowrap; }
.size-pos { color: white; background-color:#00b000; white-space: nowrap; }
.size-null { color: white; background-color:#999; white-space: nowrap; }
.size-large { font-weight: bold; white-space: nowrap; }

.label { white-space: nowrap; }
.content ul, .content ol { margin: 0 0 0 1.5em; padding-left: 0em; }
.nowrap { white-space: nowrap;}

.new-entry { background:#f7dc6f !important; }
/*.new-art {  }
.redirect {  }
.revert { text-decoration: line-through; }*/
.inactive { color: #999; }
.inactive a { color: #999; }
.combined { background:#fff; cursor:pointer;}
.combined-child { background:#f2f2f2; display:none;}

.main { margin-top:4em; }
.navbar-brand {min-width:6em; height:50px; font-weight: bold;}
.navbar-nav>li>.dropdown-menu { min-width:250px; padding:1em;}
.loading {width:16px; height:16px;}
.stat { font-size:x-small; vertical-align:top; font-weight: bold; color: #ccc; }

.ns { border-left-width: 4px; border-left-style: solid; }
.ns-help { border-left-width: 10px; border-left-style: solid; }
.ns-0 { border-left-color: #C0C0C0 !important; } /* Article */
.ns-2 { border-left-color: #2d89ef !important; } /* User */
.ns-4 { border-left-color: #9b59b6 !important; } /* Project */
.ns-6 { border-left-color: #ee1111 !important; } /* File */
.ns-8 { border-left-color: #ffee00 !important; } /* MediaWiki */
.ns-10 { border-left-color: #e7ac2f !important; } /* Template */
.ns-12 { border-left-color: #ff0097 !important; } /* Help */
.ns-14 { border-left-color: #00a300 !important; } /* Category */
.ns-100 { border-left-color: #2bfffd !important; } /* Portal */

.ns-1 { border-left-color: #696969 !important; } /* Article Talk */
.ns-3 { border-left-color: #2b5797 !important; } /* User Talk */
.ns-5 { border-left-color: #623475 !important; } /* Project Talk */
.ns-7 { border-left-color: #b91d47 !important; } /* File Talk */
.ns-9 { border-left-color: #c09100 !important; } /* MediaWiki Talk */
.ns-11 { border-left-color: #da532c !important; } /* Template Talk */
.ns-13 { border-left-color: #b3006a !important; } /* Help Talk */
.ns-15 { border-left-color: #1e7145 !important; } /* Category Talk */
.ns-101 { border-left-color: #00aba9 !important; } /* Portal Talk */

#def { text-align:center; }
#stat { font-style:italic; font-size:.8em; }
#stat-content { padding:0 1em; }
#time-wrapper { text-align:center; }

#main-table-loading {
    width: 100%;
    text-align: center;
}
.card {
    margin: 10px;
    border-radius: 4px;
}
.combined-child {
    margin-top: -10px;
    border-radius: 0px;
}
footer { text-align: center; }